In [1]:
print('hello')

hello

In [2]:
print('python')

python

In [1]:
2+1

3

In [2]:
3/2

1.5

In [3]:
8%4

0

In [4]:
3%4

3

In [5]:
0%4

0

In [6]:
7%4

3

In [7]:
50 % 5

0

In [8]:
23 % 2

1

In [17]:
2 ** 3

8

Well that's the nice way to handle exponents

In [11]:
12**10 + 2**3

61917364232

In [12]:
(2**3)**3

512

In [13]:
.1 + .2 - .3

5.551115123125783e-17

In [14]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

Remember epsilon from Unity?

In [15]:
30+*6

SyntaxError: invalid syntax (<ipython-input-15-bf7ab45567fc>, line 1)

# Variable Assignments

In [1]:
print("hello")

hello

In [2]:
dogs = 2

In [3]:
print(dogs)

2

In [4]:
dogs + dogs

4

In [5]:
dogs

2

In [31]:
#a += a

In [7]:
a = 2

In [8]:
a += a

In [9]:
a

4

In [10]:
type(a)

int

In [11]:
a = 30.1

In [12]:
type(a)

float

In [13]:
int = 5

hey it worked

In [14]:
int

5

In [15]:
int

5

In [16]:
print(int)

5

he said sth like "if you've reasigned thing like int interupt kernel" like woooow you can reasing list int etc?!

In [1]:
my_income = 10000

In [2]:
tax_rate = .1

In [3]:
my_taxes = my_income * tax_rate

In [4]:
my_income -= my_taxes

In [5]:
print(my_taxes)

1000.0

In [6]:
print(my_income)

9000.0

# Introduction to Strings

In [7]:
my_q = " I don't do that "

In [8]:
my_q

" I don't do that "

In [9]:
print(my_q)

 I don't do that

In [10]:
my_q[0]

' '

In [11]:
my_q[1]

'I'

In [12]:
my_q[12]

't'

In [30]:
#my_q[1222]

In [14]:
my_q[-1]

' '

In [15]:
my_q[-2]

't'

In [16]:
print(my_q[-2])

t

In [29]:
#print(my_q + \n + my_q)

In [18]:
print("oh fuck \n I didn't expect\t\tTHAT")

oh fuck
 I didn't expect		THAT

In [19]:
len(my_q)

17

In [28]:
#print(my_q + "\n" + my_q)

In [2]:
my_q = " I don't do that "

In [3]:
print(my_q + "\n" + my_q)

 I don't do that
 I don't do that

# String Indexing and Slicing

In [4]:
mystring = "Hello World"

In [5]:
mystring

'Hello World'

In [6]:
mystring[0]

'H'

In [7]:
mystring[-3]

'r'

In [9]:
mystring[8]

'r'

In [10]:
mystring = 'abcdefghijk'

In [11]:
mystring[2]

'c'

In [12]:
mystring[2:]

'cdefghijk'

In [13]:
print(mystring[2:])

cdefghijk

In [14]:
mystring[:3]

'abc'

In [16]:
mystring[3:6]

'def'

In [17]:
mystring[1:3]

'bc'

In [22]:
mystring[-2:-1]

'j'

this is tricky

In [23]:
mystring[::2]

'acegik'

# String Properties and methods

In [24]:
name = "Sam"

In [27]:
#name[0] = 'P' # won't work

In [35]:
last_letters = name[1:]

In [37]:
last_letters

'am'

In [38]:
name + last_letters

'Samam'

In [39]:
name += last_letters

In [40]:
name

'Samam'

In [47]:
name = "A"

In [49]:
ya = "ya"

In [50]:
ya *= 2

In [51]:
ya

'yaya'

In [52]:
name += ya

In [53]:
name

'Ayaya'

In [54]:
type(name) == type(ya)

True

In [55]:
x = 'Hello World'

In [56]:
x.upper()

'HELLO WORLD'

In [57]:
x

'Hello World'

In [58]:
type(x.upper)

builtin_function_or_method

In [59]:
x.split()

['Hello', 'World']

In [60]:
x

'Hello World'

In [61]:
x = x.split()

In [62]:
x

['Hello', 'World']

In [63]:
x = "Dude_I_am_so_oldschool"

In [64]:
x.split("_")

['Dude', 'I', 'am', 'so', 'oldschool']

In [65]:
print("hello")

hello

# String Formatting for Printing

In [72]:
print('This is a string {}'.format("inserted"))

This is a string inserted

In [73]:
print("The {} {} {}".format("fox", "quickly", "runs"))

The fox quickly runs

In [74]:
print("The {0} {2} {1}".format("fox", "quickly", "runs"))

The fox runs quickly

In [75]:
print("The {q} {b} {f}".format(f = 'fox', b = "brown", q="quick"))

The quick brown fox

Now to the float formatting

In [76]:
result = 100/777

In [77]:
result

0.1287001287001287

In [81]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

Float formatting follows "{value:width.precision f}"

In [82]:
result = 104 / 2318

In [84]:
result

0.04486626402070751

In [85]:
print("The result was {r:1.2f}".format(r = result))

The result was 0.04

String literals

In [87]:
name = "Jose"

In [88]:
print(f"Hello {name}")

Hello Jose

# Lists

In [89]:
my_list = [1,2,3]

In [90]:
my_list = ["string", 100, 23.2]

In [91]:
len(my_list)

3

In [92]:
my_list = ["one","two","three"]

In [94]:
my_list[0]

'one'

In [95]:
my_mixed_list = ["Josh", 21, 3298.29, "Jane", 29, 82.29]

In [98]:
print(my_mixed_list[::3])

['Josh', 'Jane']

In [99]:
my_mixed_list[0] = "Benjamin"

In [100]:
my_mixed_list.append("Jose")

In [101]:
my_mixed_list

['Benjamin', 21, 3298.29, 'Jane', 29, 82.29, 'Jose']

In [102]:
my_mixed_list.pop()

'Jose'

In [103]:
my_mixed_list

['Benjamin', 21, 3298.29, 'Jane', 29, 82.29]

In [104]:
my_mixed_list.pop(-1)

82.29

In [105]:
my_mixed_list.pop(0)

'Benjamin'

In [107]:
let_list = ['a', 'b', 'c', 'd']

In [108]:
num_list = [3, 8, 2, 9]

In [109]:
let_list.sort()

In [110]:
let_list

['a', 'b', 'c', 'd']

In [111]:
num_list.sort()

In [112]:
num_list

[2, 3, 8, 9]

In [113]:
num_list.reverse()

In [115]:
num_list

[9, 8, 3, 2]

# Dictionaries

In [4]:
my_dict = {'Paweł' : 22, 'Robert' : 22, 'Kuba' : 21}

In [5]:
type(my_dict)

dict

In [6]:
my_dict['Paweł']

22

In [7]:
d = {'k2' : 123, 'k2' : [1,2,3], 'k3':{'insideKey':100}}

In [8]:
d['k2']

[1, 2, 3]

In [9]:
d['k3']

{'insideKey': 100}

In [10]:
d['k3']['insideKey']

100

In [11]:
d['k2'][2]

3

In [12]:
my_dict['Jaromir'] = 25

In [13]:
my_dict

{'Paweł': 22, 'Robert': 22, 'Kuba': 21, 'Jaromir': 25}

In [14]:
my_dict.keys()

dict_keys(['Paweł', 'Robert', 'Kuba', 'Jaromir'])

In [15]:
my_dict.items()

dict_items([('Paweł', 22), ('Robert', 22), ('Kuba', 21), ('Jaromir', 25)])

In [16]:
my_dict.values()

dict_values([22, 22, 21, 25])

# Tuples

In [17]:
(1,2,3)

(1, 2, 3)

In [20]:
type((1,2,3))

tuple

In [21]:
my_tuple = (1, 2, 3)

In [22]:
my_list = [1, 2, 3]

In [23]:
my_tuple.count(1)

1

In [24]:
my_tuple.index(2)

1

# Sets

In [25]:
mset = set()

In [26]:
mset.add(1)

In [27]:
mset

{1}

In [28]:
mset.add('a')

In [29]:
mset.add('a')

In [30]:
mset

{1, 'a'}

In [31]:
mylist = [1,2,2,2,2,2,22,2,3,3,33,3,3,3,3,33]

In [32]:
set(mylist)

{1, 2, 3, 22, 33}

# Booleans

In [33]:
True

True

In [34]:
False

False

In [35]:
type(False)

bool

In [36]:
1 > 3

False

In [37]:
1 != 2

True

In [38]:
1 == 2

False

In [39]:
1 >= 2

False

In [40]:
b = None

In [41]:
type(b)

NoneType

# I/0 with files

In [3]:
%%writefile test.txt
Hello this is a text file

Writing test.txt

In [4]:
test = open('test.txt')

In [7]:
pwd

'C:\\Users\\BennyKayer\\Documents\\GitHub\\LearnPython'

In [8]:
test.read()

'Hello this is a text file'

In [11]:
test.read()

''

In [12]:
test.seek(0)

0

In [13]:
test.read()

'Hello this is a text file'

In [15]:
test.seek(0)

0

In [16]:
test.readlines()

['Hello this is a text file']

In [17]:
pwd

'C:\\Users\\BennyKayer\\Documents\\GitHub\\LearnPython'

In [18]:
cd ../

C:\Users\BennyKayer\Documents\GitHub

In [19]:
cd ../

C:\Users\BennyKayer\Documents

In [20]:
cd GitHub

C:\Users\BennyKayer\Documents\GitHub

In [21]:
pwd

'C:\\Users\\BennyKayer\\Documents\\GitHub'

In [22]:
ls

 Wolumin w stacji C nie ma etykiety.
 Numer seryjny woluminu: CCBE-A47F

 Katalog: C:\Users\BennyKayer\Documents\GitHub

2019-03-05  19:23    <DIR>          .
2019-03-05  19:23    <DIR>          ..
2019-02-25  17:55    <DIR>          ArgonAssault
2019-03-05  19:23    <DIR>          Complete-Python-3-Bootcamp
2019-03-16  17:33    <DIR>          LearnPython
2019-03-16  15:49    <DIR>          PJATKBlender
               0 plik(˘w)                  0 bajt˘w
               6 katalog(˘w)  212˙656˙664˙576 bajt˘w wolnych

In [23]:
cd LearnPython

C:\Users\BennyKayer\Documents\GitHub\LearnPython

In [24]:
test.close()

In [25]:
test = open('test.txt')

In [26]:
test.close()

In [29]:
with open('test.txt') as test_file:
    contents = test_file.read()

In [30]:
contents

'Hello this is a text file'

In [36]:
with open('test.txt', mode='a') as test_file:
    test_file.write('\njust has to get used to')

In [37]:
with open('test.txt', mode='r') as test_file:
    contents = test_file.read()

In [38]:
contents

'Hello this is a text filejust has to get used to\njust has to get used to'

In [41]:
with open('test2.txt', mode='w') as f:
    f.write('Overrite')

# Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [5]:
'hello' == 'Hello'

False

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [8]:
3 != 3

False

In [9]:
4 != 5

True

In [10]:
2 > 1

True

In [11]:
1 > 1

False

In [12]:
1 >= 2

False

In [13]:
2 >= 2

True

In [17]:
2 == 2 & 3 != 5

True

# Chaining Comparison Operators

In [18]:
2 == 2 and 3 == 3

True

In [19]:
2 == 2 or 3 == 5

True

In [20]:
1 < 2 < 3

True

In [21]:
1 < 2 and 2 < 3

True

In [22]:
4 not in[3, 2, 1]

True

In [23]:
not(1 == 1)

False

In [24]:
not 1 == 1

False

# If elif

In [28]:
if 2 == 2:
    print("it is so")
elif 3 == 5:
    print("it is not")
else:
    print("damn")

it is so

# For loops

my_list = [0] * 3
for i in my_list:
    print('#' + str(i) + '#')

In [4]:
for i in range(6):
    print(str(i) + " hi")

0 hi
1 hi
2 hi
3 hi
4 hi
5 hi

In [5]:
listOfTuples = [(1,2), (3,4), (5,6), (7,8)]

In [8]:
for item in listOfTuples:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [7]:
for (a,b) in listOfTuples:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [9]:
d = {'k1':1,'k2':2,'k3':3}

In [10]:
for item in d:
    print(item)

k1
k2
k3

In [11]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [12]:
for key, value in d.items():
    print(value)

1
2
3

In [13]:
for value in d.values():
    print(value)

1
2
3

# While Loops

In [14]:
i = 0
while i < 5:
    i += 1
    print(f'i is {i} now')
else:
    print(f'i is {i} now and it is no longer smaller than 5')

i is 1 now
i is 2 now
i is 3 now
i is 4 now
i is 5 now
i is 5 now and it is no longer smaller than 5

In [16]:
x = [1,2,3,4,5,6]

for item in x:
    pass

In [18]:
for i in x:
    if i == 4:
        continue
    elif i == 5:
        break
    print(i)

1
2
3

# Useful Operators

In [19]:
for i in range(1, 13, 2):
    print(i)

1
3
5
7
9
11

In [22]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [25]:
word = 'abcde'
for index, letter in enumerate(word):
    print(f"At index {index}, there's {letter}")

At index 0, there's a
At index 1, there's b
At index 2, there's c
At index 3, there's d
At index 4, there's e

In [27]:
firstLst = range(5)
scndLst = range(6, 12, 1)

In [28]:
zippedLst = zip(firstLst, scndLst)

In [29]:
zippedLst

In [30]:
for i in zippedLst:
    print(i)

(0, 6)
(1, 7)
(2, 8)
(3, 9)
(4, 10)

In [31]:
list(zippedLst)

[]

In [32]:
'x' in scndLst

False

In [36]:
import math # does not need it

In [34]:
min(scndLst)

6

In [35]:
max(scndLst)

11

In [41]:
from random import shuffle

In [46]:
listToShuffle = list(range(20))
listToShuffle

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
shuffle(listToShuffle)

In [48]:
listToShuffle

[2, 16, 14, 15, 0, 13, 8, 10, 9, 6, 5, 7, 18, 3, 1, 11, 4, 17, 12, 19]

In [49]:
from random import randint

In [50]:
randint(0, 100)

79

In [51]:
randint(0, 100)

19

In [52]:
input('Enter a number: ')

Enter a number: 50

'50'

In [53]:
result = input("Enter your name: ")

Enter your name: Gregory

In [54]:
number = input("Enter num: ")

Enter num: 2

In [55]:
type(number)

str

In [56]:
int(number)

2

In [57]:
number

'2'

# list comprehensions

In [58]:
mystring = 'hello'

In [59]:
mylist = []

for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [60]:
mylistbettermethod = [letter for letter in mystring]

In [61]:
mylistbettermethod

['h', 'e', 'l', 'l', 'o']

In [62]:
mylist = [num for num in range(0,11)]

In [63]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
mylist = [num ** 2 for num in range(0, 11)]

In [65]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
mylist = [x for x in range(0, 11) if x % 2 == 0]

In [67]:
mylist

[0, 2, 4, 6, 8, 10]

In [72]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [73]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [78]:
results = [x if x%2==0 else 'ODD' for x in range(0, 11)]

In [79]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [82]:
cool_list = []

for x in [2,3,5]:
    for y in [4, 6, 7]:
        cool_list.append(x*y)

In [83]:
cool_list

[8, 12, 14, 12, 18, 21, 20, 30, 35]

In [86]:
mylist = [x*y for x in [2,3, 5] for y in [4,6,7]]

In [87]:
mylist

[8, 12, 14, 12, 18, 21, 20, 30, 35]

# Methods

This got lenghty

so I've decided to

start a new notebook